<main>
  <div class="deal main">
    <img src="../assets/images/createDeal.png" alt="client picture" />
    <p class="txt">انشاء صفقة جديدة</p>
  </div>

  <div class="buyTecket">
    <app-float-label class="main"></app-float-label>
    <i class="pi pi-book icon"></i>
  </div>

  <div class="clientDetails">
    <div class="client box two main">
      <div class="top">
        <img
          class="image"
          src="../assets/images/pixelcut-export.png"
          alt="client picture"
        />

        <div class="select">
          <h3>حدد العميل</h3>
          <p>يرجى البحث عن العميل لاختياره</p>
        </div>
      </div>
      <div class="list">
        <app-users></app-users>
      </div>
    </div>
    <div class="dealPrice box two main">
      <div class="top">
        <img
          class="image"
          src="../assets/images/pixelcut-export (1).png"
          alt="deal price"
        />

        <div class="select">
          <h3>سعر الصفقة</h3>
          <p>سعر الصفقة هو المبلغ المدفوع شامل الضريبة</p>
        </div>
      </div>
      <app-price class="pr"></app-price>
    </div>
  </div>

  <div class="propability">
    <div class="prop main">
      <i class="pi pi-question-circle"></i>
      <p>احتمالية نجاح الصفقة</p>
      <i class="pi pi-pen-to-square"></i>
      <app-success></app-success>
    </div>
  </div>

  <div class="dealDetails">
    <div class="responsible box three main">
      <h3 class="t">مسئول الصفقة</h3>
      <div class="group">
        <app-dropdown class="special"></app-dropdown>
      </div>
      <i class="pi pi-user-plus" style="color: 'var(--primary-color)'"></i>
    </div>
    <div class="source box three main">
      <h3 class="t">المصدر</h3>
      <div class="group">
        <app-websites class="special"></app-websites>
      </div>
    </div>
    <div class="project box three main">
      <h3 class="t">المشروع</h3>
      <div class="group">
        <app-pr class="special"></app-pr>
      </div>
    </div>
  </div>
  <div class="marks main">
    <h3>العلامات</h3>
    <div>
      <button type="button" (click)="onAdd()">Add</button>
      <ul>
        <li *ngFor="let course of courses">
          <button type="button" (click)="onRemove(course)">remove</button>
          {{ course }}
        </li>
      </ul>
      <app-new-deal></app-new-deal>
    </div>
    <div class="group">
      <div class="btn"></div>
      <div class="btn"></div>
      <div class="btn"></div>
      <div class="btn"></div>
      <div class="btn"></div>
    </div>
  </div>

  <div class="products main">
    <h3>المنتجات</h3>
    <hr />
    <div class="g"></div>
  </div>

  <div class="additionalInfo main">hello</div>

  <div class="sign main">hello</div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
